
.subtitle {
    font-family: AGaramondPro;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
}
.btn-main {
    a {
        color: #fff;
        border-radius: 15px;
        background: #e0b973;
        font-weight: bold;
        transition: 0.5s;
        display: inline-flex;
        position: relative;
        color: #fff;
        padding: 25px 33px;
        @media (min-width: 992px) {
            &:hover {
                background: #9c7e44;
            }
        }
    }
}
.btn {
    a {
        padding: 20px 65px;
        background: #e0b973;
        border-radius: 15px;
        transition: 0.5s;
        display: inline-flex;
        color: #fff;
        font-weight: bold;
        @media (min-width: 992px) {
            &:hover {
                background: #9c7e44;
            }
        }
    }
}
