//====================================================================================================
.footer {
    *:last-child {
        margin-bottom: 0;
    }
    &::before {
        content: "";
        position: absolute;
        top: -80px;
        left: 50%;
        border: 100px solid transparent;
        border-bottom: 60px solid #14274a;
        transform: translate(-50%, -50%);
    }
    position: relative;
    margin-top: 100px;
    background: #14274a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    a {
        color: #fff;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 90px;
        padding-bottom: 90px;
        @media (max-width: $md1+px) {
			flex-wrap: wrap;
            text-align: center;
		}
        @media (max-width: $md3+px) {
			justify-content: center;
            flex-direction: column;
		}
        @media (max-width: $md4+px) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
    }
    &__contacts {
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
        @media (max-width: $md1+px) {
			flex: 0 1 50%;
            margin-bottom: 30px;
		}
    }
    &__item {
        margin-top: 22px;
    }
    &__list {
        @media (max-width: $md1+px) {
			flex: 0 1 50%;
            margin-bottom: 30px;
		}
        li {
            margin-bottom: 20px;
        }
    }
    &__socials {
        @media (max-width: $md1+px) {
			flex: 0 1 50%;
		}
        @media (max-width: $md3+px) {
			margin-bottom: 30px;
		}
        li {
            margin-bottom: 15px;
            a {
                position: relative;
            }
        }
    }
    &__form {
        @media (max-width: $md1+px) {
			flex: 0 1 50%;
		}
    }
    &__subscribe {
        margin-bottom: 20px;
    }
    &__input {
        position: relative;
        display: inline-flex;
        &::after {
            content: "OK";
            position: absolute;
            background-color: #e0b973;
            color: #14274a;
            padding: 20px;
            top: 0;
            right: 0;
            border-radius: 0 15px 15px 0;
        }
        input {
            background: #14274a;
            padding: 15px;
            border: 3px solid #e0b973;
            color: #fff;
            font-size: 16px;
            border-radius: 15px;
            &::placeholder {
                color: #fff;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}

//====================================================================================================
