//====================================================================================================
.luxury {
    background: linear-gradient(to right, rgba(0, 20, 37, 0.5), rgba(3, 18, 31, 0.5)),
        url("../img/bg-home.jpg") 50% / cover no-repeat;
    height: 100vh;
    &__content {
        display: flex; 
        flex-direction: column;
        min-height: 100%;
    }
    &__text {
        padding: 340px 0 80px 0;
    }
    &__label {
        color: #ffffff;
        line-height: 30px;
    }
    &__btn {
        flex: 1 1 auto;
    }
    &__scroll {
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding-bottom: 110px;
        p {
            display: inline-block;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 50px;
                left: 7px;
                background: #fff;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                cursor: pointer;
            }
            &::after {
                content: "";
                position: absolute;
                top: 60px;
                left: 22px;
                width: 30px;
                height: 30px;
                border-left: 10px solid rgb(44, 44, 44);
                border-top: 10px solid rgb(44, 44, 44);
                transform: rotate(225deg);
                cursor: pointer;
            }
        }
    }
}

.paradise {
    &__breakfast {
        font-size: 36px;
        line-height: 44px;
        padding: 90px 0;
        text-align: center;
    }
    &__row {
        display: flex;
        margin: 0 -50px 70px -50px;
        align-items: center;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__text {
        flex: 0 0 40%;
        padding: 0 50px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            border-left: 2px solid #14274a;
            top: 15px;
            height: 95%;
            left: -10px;
        }
        h2 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 30px;
        }
    }
    &__btn {
        a {
            font-size: 20px;
        }
        
    }
    &__img {
        flex: 0 0 60%;
        padding: 0 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

//====================================================================================================
