.rooms {
    margin-top: 80px;
    &__title {
        text-align: center;
        margin-bottom: 35px;
    }
    &__text {
        text-align: center;
        margin-bottom: 80px;
        line-height: 40px;
    }
    &__column {
        border: 2px solid #14274a;
        border-radius: 0 0 15px 15px;
        margin-bottom: 80px;
        
    }
    &__img {
        position: relative;
        
        img {
            max-width: 100%;
            min-height: 100%;
        }
        span {
            transition: .3s;
            &:nth-child(2) {
                position: absolute;
                border: 2px solid #fff;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                bottom: 30px;
                transform: translateX(-50%);
                left: 47%;
            }
            &:nth-child(3) {
                position: absolute;
                border: 2px solid #fff;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                bottom: 30px;
                transform: translateX(-50%);
                left: 50%;
            }
            &:nth-child(4) {
                position: absolute;
                border: 2px solid #fff;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                bottom: 30px;
                transform: translateX(-50%);
                left: 53%;
            }
            &:hover {
                transition: 0.3s;
                cursor: pointer;
                background-color: #fff;
            }
        }
    }
    &__label {
        font-weight: bold;
        font-size: 60px;
        color: #ffffff;
        background: #14274a;
        text-align: center;
        padding: 40px 0;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 160px;
    }
    &__details {
        font-weight: bold;
        font-size: 25px;
        position: relative;
        padding-left: 70px;
        &::before {
            content: '+';
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: #fff;
            font-size: 70px;
            font-weight: 300;
            top: -50%;
            left: 0;
            background: #E0B973;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
    }
    &__btn {
        a {
            padding: 25px 45px;
        }
    }
}
