.luxury {
    height: 100vh;
    &__content {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        @media (max-width: $md3+px) {
            align-items: center;
            text-align: center;
        }
    }
    &__text {
        padding: 220px 0 80px 0;
        @media (max-width: $md4+px) {
            padding: 120px 0 45px 0;
        }
    }
    &__title {
        font-family: AGaramondPro;
        color: #fff;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 20px;
        span {
            &:first-child {
                font-family: Montserrat;
                font-weight: normal;
                font-size: 50px;
                @media (max-width: $md2+px) {
                    font-size: 35px;
                }
                @media (max-width: $md4+px) {
                    font-size: 20px;
                }
            }
            &:nth-child(3) {
                font-size: 140px;
                letter-spacing: 0.07em;
                @media (max-width: $md2+px) {
                    font-size: 100px;
                }
                @media (max-width: $md2+px) {
                    font-size: 70px;
                }
            }
            &:last-child {
                font-size: 40px;
                letter-spacing: 0.4em;
                @media (max-width: $md2+px) {
                    font-size: 40px;
                }
                @media (max-width: $md2+px) {
                    font-size: 20px;
                }
            }
        }
    }
    &__label {
        color: #ffffff;
        line-height: 30px;
        @media (max-width: $md2+px) {
            font-size: 20px;
        }
        @media (max-width: $md2+px) {
            font-size: 18px;
        }
    }
    &__btn {
        flex: 1 1 auto;
    }
    &__scroll {
        font-weight: bold;
        color: #fff;
        text-align: center;
        padding-bottom: 90px;
        @media (max-width: $md4+px) {
            padding-bottom: 60px;
        }
        p {
            display: inline-block;
            position: relative;
            font-size: 20px;
            &::before {
                content: "";
                position: absolute;
                top: 40px;
                left: 4px;
                background: #fff;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
                @media (max-width: $md4+px) {
                    width: 40px;
                    height: 40px;
                    top: 30px;
                    left: 9px;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 48px;
                left: 17px;
                width: 25px;
                height: 25px;
                border-left: 7px solid rgb(44, 44, 44);
                border-top: 7px solid rgb(44, 44, 44);
                transform: rotate(225deg);
                cursor: pointer;
                @media (max-width: $md4+px) {
                    width: 20px;
                    height: 20px;
                    top: 38px;
                    left: 19px;
                    border-left: 5px solid rgb(44, 44, 44);
                    border-top: 5px solid rgb(44, 44, 44);
                }
            }
        }
    }
}
