//====================================================================================================
.footer {
  *:last-child {
    margin-bottom: 0;
  }
  &::before {
    content: "";
    position: absolute;
    top: -75px;
    left: 50%;
    border: 100px solid transparent;
    border-bottom: 60px solid #14274a;
    transform: translate(-50%, -50%);
  }
  position: relative;
  margin-top: 100px;
  background: #14274a;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  a {
    color: #fff;
    transition: .3s;
    &::before{
      transition: .3s;
      padding-right: 30px;
    }
    &:hover {
      color: #e0b973;
    }
    &:hover::before {
      color: #e0b973;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 90px;
    @media (max-width: $md1+px) {
      flex-wrap: wrap;
      text-align: center;
    }
    @media (max-width: $md3+px) {
      justify-content: center;
      flex-direction: column;
    }
    @media (max-width: $md4+px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  &__contacts {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    @media (max-width: $md1+px) {
      flex: 0 1 50%;
      margin-bottom: 30px;
    }
  }
  &__item {
    margin-top: 22px;
  }
  &__list {
    @media (max-width: $md1+px) {
      flex: 0 1 50%;
      margin-bottom: 30px;
    }
    li {
      margin-bottom: 20px;
    }
  }
  &__socials {
    @media (max-width: $md1+px) {
      flex: 0 1 50%;
    }
    @media (max-width: $md3+px) {
      margin-bottom: 30px;
    }
    li {
      margin-bottom: 15px;
      a {
        position: relative;
      }
    }
  }
  &__form {
    @media (max-width: $md1+px) {
      flex: 0 1 50%;
    }
  }
  &__subscribe {
    margin-bottom: 20px;
  }
  & form {
    position: relative;
    display: inline-flex;
    border-radius: 15px;
    position: relative;
    &._error {
      box-shadow: 0 0 15px red;
    }
    input {
      background: #14274a;
      padding: 15px;
      border: 3px solid #e0b973;
      border-right: none;
      color: #fff;
      font-size: 16px;
      border-radius: 15px 0 0 15px;
      transition: .3s;
      &::placeholder {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
      }
      &:focus {
        border: 3px solid #9c7e44;
        border-right: none;
      }
    }
  }
  &__btn {
    background: #e0b973;
    color: #14274a;
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: .3s;
    &:hover {
      background: #9c7e44;
    }
  }
}

//====================================================================================================
