.rooms {
    margin-top: 80px;
    &__title {
        text-align: center;
        margin-bottom: 30px;
    }
    &__text {
        text-align: center;
        margin-bottom: 60px;
        line-height: 30px;
    }
    &__row {
        display: flex;
        margin: 0 -15px;
        flex-wrap: wrap;
        &:last-child {
            justify-content: center;
        }
    }
    &__column {
        min-width: 0;
        padding: 0 15px;
        flex: 0 1 50%;
        &:last-child {
            margin-top: 30px;
        }
        @media (max-width: $md2+px) {
            flex: 0 1 100%;
            margin-bottom: 30px;
            &:last-child {
                margin: 0 0;
            }
        }
    }
    &__item {
        border: 2px solid #14274a;
        border-radius: 0 0 15px 15px;
    }
    &__image {
        position: relative;
        padding-bottom: 70%;
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &__label {
        font-weight: bold;
        @include adaptive-font(30, 20);
        color: #ffffff;
        background: #14274a;
        text-align: center;
        padding: 30px 0;
        @media (max-width: $md4+px) {
            padding: 20px 0;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        position: relative;
        @include adaptive-font(20, 12);
        @media (max-width: $md4+px) {
            padding: 10px 5px;
        }
    }
    &__details {
        font-weight: bold;
        cursor: pointer;
        @include adaptive-font(15, 12);
        position: relative;
        padding-left: 40px;
        @media (max-width: $md4+px) {
          padding-left: 30px;
        }
        &::before {
            content: "+";
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            color: #fff;
            font-size: 40px;
            font-weight: 300;
            top: -8px;
            left: 0;
            background: #e0b973;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            cursor: pointer;
            @media (max-width: $md4+px) {
                width: 25px;
                height: 25px;
            }
            @media (max-width:$md4 - 146+px){
              top: -3px;
            }
        }
        &._show {
          &::before {
            content: "";
          }
          &::after {
            content: '';
            position: absolute;
            background-color: #fff;
            width: 18px;
            height: 3px;
            top: 6px;
            left: 6px;
            cursor: pointer;
            @media (max-width:$md4+px){
              top: 3px;
              left: 5px;
              width: 15px;
            }
            @media (max-width:$md4 - 146+px){
              top: 8px;
            }
          }
        }
    }
    &__details-list {
      position: absolute;
      top: 75px;
      left: 45px;
      background: #f7f7f7;
      border: 1px solid #14274a;
      z-index: 2;
      display: none;
      @media (max-width:$md4+px){
        top: 50px;
        left: 30px;
      }
      @media (max-width:$md4 - 146+px){
        top: 55px;
      }
      li {
        padding: 15px;
        cursor: pointer;
        @media (min-width:$md2+px){
          &:hover {
            background: #d3cfca;
          }
        }
        &:nth-child(2n) {
          background:#ebe0ce;
        }
      }
      &._show {
        display: block;
      }
    }
    &__btn {
      padding: 20px;
      @media (max-width: $md4+px) {
        padding: 10px;
        border-radius: 10px;
      }
    }
}